:root{
  --main-bg-color: #d3d3e0;


}


 .grid-container{
  background: black;
  margin: 10px;
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;

  grid-template-areas:
  "input input input"
  
 }
 
.inputRow{
background: #c0c0cc;
min-height: 20vh;
max-height: 100px;
grid-area: input;
padding-top: 25px;

}
input[type=text]{
  font-size: 4rem;
  border-radius: 3%;
  padding-left: 1%;
  text-shadow: 3px 3px 2px rgba(150, 150, 150, 0.59);
  color: #242438;


}
.leftButtons{

display: grid;
  box-sizing: border-box;
  background: var(--main-bg-color);
  padding: 5%;
  
  min-width: 200px;
  max-width: 1000px;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: minmax(20px, 200px);
grid-auto-rows: minmax(20px, 200px);
grid-gap: 20px;
justify-content: stretch;
align-content: stretch;
}

.rightButtons{

display: grid;
  box-sizing: border-box;
  background: var(--main-bg-color);
  padding: 5%;
  
  min-width: 200px;
  max-width: 1000px;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: minmax(20px, 200px);
grid-auto-rows: minmax(20px, 200px);
grid-gap: 20px;
justify-content: stretch;
align-content: stretch;

}
.inner-container{
  display: grid;
  box-sizing: border-box;
  background: var(--main-bg-color);
  padding: 5%;
  
  min-width: 200px;
  max-width: 1000px;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: minmax(20px, 200px);
grid-auto-rows: minmax(20px, 200px);
grid-gap: 20px;
justify-content: stretch;
align-content: stretch;


}

button{
  font-size: 2em;
  border-radius: 20%;
  min-width: 10px;
  min-height: 40px;
  outline: none;
  border: none;
  background-color:#79799c;
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.39);
-moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.39);
box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.39);
color: #c8c8e6;
}
button:active{

  -webkit-box-shadow:none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #242438;
}
button:hover{
background-color: #63638f;  

}
input{
  
  border-radius: 10%;
  width: 50%;
  margin: 0 auto;
  display: block;
  
  
}

